<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

# Final Project: Data Analysis using Spark

Estimated time needed: **60** minutes

This final project is similar to the Practice Project you did. In this project, you will not be provided with hints or solutions. You will create a DataFrame by loading data from a CSV file and apply transformations and actions using Spark SQL. This needs to be achieved by performing the following tasks:

- Task 1: Generate DataFrame from CSV data.
- Task 2: Define a schema for the data.
- Task 3: Display schema of DataFrame.
- Task 4: Create a temporary view.
- Task 5: Execute an SQL query.
- Task 6: Calculate Average Salary by Department.
- Task 7: Filter and Display IT Department Employees.
- Task 8: Add 10% Bonus to Salaries.
- Task 9: Find Maximum Salary by Age.
- Task 10: Self-Join on Employee Data.
- Task 11: Calculate Average Employee Age.
- Task 12: Calculate Total Salary by Department.
- Task 13: Sort Data by Age and Salary.
- Task 14: Count Employees in Each Department.
- Task 15: Filter Employees with the letter o in the Name.

In [17]:
import requests

url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-BD0225EN-SkillsNetwork/data/employees.csv"
local_filename = "employees.csv"

# Download the file
response = requests.get(url)
with open(local_filename, 'wb') as file:
    file.write(response.content)

#### Task 1: Generate a Spark DataFrame from the CSV data

Read data from the provided CSV file, `employees.csv` and import it into a Spark DataFrame variable named `employees_df`.

In [51]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType

# Initialize SparkSession
spark = SparkSession.builder.appName("Employee Data Analysis").getOrCreate()

In [52]:
df = spark.read.csv("employees.csv", header=True, inferSchema=True)

#### Task 2: Define a schema for the data

Construct a schema for the input data and then utilize the defined schema to read the CSV file to create a DataFrame named `employees_df`.

In [54]:
schema = StructType([
    StructField("Emp_No", IntegerType(), True),
    StructField("Emp_Name", StringType(), True),
    StructField("Salary", FloatType(), True),
    StructField("Age", IntegerType(), True),
    StructField("Department", StringType(), True)
])

In [55]:
df.head(5)

[Row(Emp_No=198, Emp_Name='Donald', Salary=2600, Age=29, Department='IT'),
 Row(Emp_No=199, Emp_Name='Douglas', Salary=2600, Age=34, Department='Sales'),
 Row(Emp_No=200, Emp_Name='Jennifer', Salary=4400, Age=36, Department='Marketing'),
 Row(Emp_No=201, Emp_Name='Michael', Salary=13000, Age=32, Department='IT'),
 Row(Emp_No=202, Emp_Name='Pat', Salary=6000, Age=39, Department='HR')]

#### Task 3: Display schema of DataFrame

Display the schema of the `employees_df` DataFrame, showing all columns and their respective data types.

In [56]:
df.printSchema()

root
 |-- Emp_No: integer (nullable = true)
 |-- Emp_Name: string (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Department: string (nullable = true)

#### Task 4: Create a temporary view

Create a temporary view named `employees` for the `employees_df` DataFrame, enabling Spark SQL queries on the data.

In [57]:
df.createOrReplaceTempView("employees")

#### Task 5: Execute an SQL query

Compose and execute an SQL query to fetch the records from the `employees` view where the age of employees exceeds 30. Then, display the result of the SQL query, showcasing the filtered records.

In [58]:
spark.sql("SELECT * FROM employees").show()

+------+---------+------+---+----------+
|Emp_No| Emp_Name|Salary|Age|Department|
+------+---------+------+---+----------+
|   198|   Donald|  2600| 29|        IT|
|   199|  Douglas|  2600| 34|     Sales|
|   200| Jennifer|  4400| 36| Marketing|
|   201|  Michael| 13000| 32|        IT|
|   202|      Pat|  6000| 39|        HR|
|   203|    Susan|  6500| 36| Marketing|
|   204|  Hermann| 10000| 29|   Finance|
|   205|  Shelley| 12008| 33|   Finance|
|   206|  William|  8300| 37|        IT|
|   100|   Steven| 24000| 39|        IT|
|   101|    Neena| 17000| 27|     Sales|
|   102|      Lex| 17000| 37| Marketing|
|   103|Alexander|  9000| 39| Marketing|
|   104|    Bruce|  6000| 38|        IT|
|   105|    David|  4800| 39|        IT|
|   106|    Valli|  4800| 38|     Sales|
|   107|    Diana|  4200| 35|     Sales|
|   108|    Nancy| 12008| 28|     Sales|
|   109|   Daniel|  9000| 35|        HR|
|   110|     John|  8200| 31| Marketing|
+------+---------+------+---+----------+
only showing top 20 rows

#### Task 6: Calculate Average Salary by Department

Compose an SQL query to retrieve the average salary of employees grouped by department. Display the result.

In [59]:
spark.sql("SELECT Department, AVG(Salary) as Avg_Salary FROM employees GROUP BY Department").show()

+----------+-----------------+
|Department|       Avg_Salary|
+----------+-----------------+
|     Sales|5492.923076923077|
|        HR|           5837.5|
|   Finance|           5730.8|
| Marketing|6633.333333333333|
|        IT|           7400.0|
+----------+-----------------+

#### Task 7: Filter and Display IT Department Employees

Apply a filter on the `employees_df` DataFrame to select records where the department is `'IT'`. Display the filtered DataFrame.

In [60]:
spark.sql("SELECT * FROM employees WHERE Department = 'IT'").show()

+------+--------+------+---+----------+
|Emp_No|Emp_Name|Salary|Age|Department|
+------+--------+------+---+----------+
|   198|  Donald|  2600| 29|        IT|
|   201| Michael| 13000| 32|        IT|
|   206| William|  8300| 37|        IT|
|   100|  Steven| 24000| 39|        IT|
|   104|   Bruce|  6000| 38|        IT|
|   105|   David|  4800| 39|        IT|
|   111|  Ismael|  7700| 32|        IT|
|   129|   Laura|  3300| 38|        IT|
|   132|      TJ|  2100| 34|        IT|
|   136|   Hazel|  2200| 29|        IT|
+------+--------+------+---+----------+

#### Task 8: Add 10% Bonus to Salaries

Perform a transformation to add a new column named "SalaryAfterBonus" to the DataFrame. Calculate the new salary by adding a 10% bonus to each employee's salary.

In [62]:
spark.sql("SELECT Emp_Name, Salary, Salary * 1.1 as Salary_with_Bonus FROM employees").show()

+---------+------+-----------------+
| Emp_Name|Salary|Salary_with_Bonus|
+---------+------+-----------------+
|   Donald|  2600|           2860.0|
|  Douglas|  2600|           2860.0|
| Jennifer|  4400|           4840.0|
|  Michael| 13000|          14300.0|
|      Pat|  6000|           6600.0|
|    Susan|  6500|           7150.0|
|  Hermann| 10000|          11000.0|
|  Shelley| 12008|          13208.8|
|  William|  8300|           9130.0|
|   Steven| 24000|          26400.0|
|    Neena| 17000|          18700.0|
|      Lex| 17000|          18700.0|
|Alexander|  9000|           9900.0|
|    Bruce|  6000|           6600.0|
|    David|  4800|           5280.0|
|    Valli|  4800|           5280.0|
|    Diana|  4200|           4620.0|
|    Nancy| 12008|          13208.8|
|   Daniel|  9000|           9900.0|
|     John|  8200|           9020.0|
+---------+------+-----------------+
only showing top 20 rows

#### Task 9: Find Maximum Salary by Age

Group the data by age and calculate the maximum salary for each age group. Display the result.

In [63]:
spark.sql("SELECT Age, MAX(Salary) as Max_Salary FROM employees GROUP BY Age").show()

+---+----------+
|Age|Max_Salary|
+---+----------+
| 31|      8200|
| 34|      7800|
| 28|     12008|
| 27|     17000|
| 26|      3600|
| 37|     17000|
| 35|      9000|
| 39|     24000|
| 38|      6000|
| 29|     10000|
| 32|     13000|
| 33|     12008|
| 30|      8000|
| 36|      7900|
+---+----------+

#### Task 10: Self-Join on Employee Data

Join the "employees_df" DataFrame with itself based on the "Emp_No" column. Display the result.

In [64]:
spark.sql("SELECT a.Emp_Name as Employee1, b.Emp_Name as Employee2 FROM employees a JOIN employees b ON a.Age = b.Age WHERE a.Emp_Name != b.Emp_Name").show()

+---------+-----------+
|Employee1|  Employee2|
+---------+-----------+
|   Donald|     Joshua|
|   Donald|      Hazel|
|   Donald|    Michael|
|   Donald|  Alexander|
|   Donald|    Hermann|
|  Douglas|         TJ|
|  Douglas|       Luis|
|  Douglas|Jose Manuel|
| Jennifer|       John|
| Jennifer|      James|
| Jennifer|      Payam|
| Jennifer|        Guy|
| Jennifer|      Susan|
|  Michael|      Karen|
|  Michael|     Ismael|
|      Pat|       Adam|
|      Pat|      David|
|      Pat|  Alexander|
|      Pat|     Steven|
|    Susan|       John|
+---------+-----------+
only showing top 20 rows

#### Task 11: Calculate Average Employee Age

Calculate the average age of employees using the built-in aggregation function. Display the result.

In [65]:
# Calculate the average age of employees
from pyspark.sql.functions import avg 
spark.sql("SELECT AVG(Age) as Avg_Age FROM employees").show()

+-------+
|Avg_Age|
+-------+
|  33.56|
+-------+

#### Task 12: Calculate Total Salary by Department

Calculate the total salary for each department using the built-in aggregation function. Display the result.

In [66]:
# Calculate the total salary for each department. Hint - User GroupBy and Aggregate functions
from pyspark.sql.functions import sum 
spark.sql("SELECT Department, SUM(Salary) as Total_Salary FROM employees GROUP BY Department").show()

+----------+------------+
|Department|Total_Salary|
+----------+------------+
|     Sales|       71408|
|        HR|       46700|
|   Finance|       57308|
| Marketing|       59700|
|        IT|       74000|
+----------+------------+

#### Task 13: Sort Data by Age and Salary

Apply a transformation to sort the DataFrame by age in ascending order and then by salary in descending order. Display the sorted DataFrame.

In [67]:
spark.sql("SELECT * FROM employees ORDER BY Age ASC, Salary DESC").show()

+------+---------+------+---+----------+
|Emp_No| Emp_Name|Salary|Age|Department|
+------+---------+------+---+----------+
|   137|   Renske|  3600| 26| Marketing|
|   101|    Neena| 17000| 27|     Sales|
|   114|      Den| 11000| 27|   Finance|
|   108|    Nancy| 12008| 28|     Sales|
|   130|    Mozhe|  2800| 28| Marketing|
|   126|    Irene|  2700| 28|        HR|
|   204|  Hermann| 10000| 29|   Finance|
|   115|Alexander|  3100| 29|   Finance|
|   134|  Michael|  2900| 29|     Sales|
|   198|   Donald|  2600| 29|        IT|
|   140|   Joshua|  2500| 29|   Finance|
|   136|    Hazel|  2200| 29|        IT|
|   120|  Matthew|  8000| 30|        HR|
|   110|     John|  8200| 31| Marketing|
|   127|    James|  2400| 31|        HR|
|   201|  Michael| 13000| 32|        IT|
|   111|   Ismael|  7700| 32|        IT|
|   119|    Karen|  2500| 32|   Finance|
|   205|  Shelley| 12008| 33|   Finance|
|   124|    Kevin|  5800| 33| Marketing|
+------+---------+------+---+----------+
only showing top 20 rows

#### Task 14: Count Employees in Each Department

Calculate the number of employees in each department. Display the result.

In [68]:
from pyspark.sql.functions import count

spark.sql("SELECT Department, COUNT(*) as Employee_Count FROM employees GROUP BY Department").show()

+----------+--------------+
|Department|Employee_Count|
+----------+--------------+
|     Sales|            13|
|        HR|             8|
|   Finance|            10|
| Marketing|             9|
|        IT|            10|
+----------+--------------+

#### Task 15: Filter Employees with the letter o in the Name

Apply a filter to select records where the employee's name contains the letter `'o'`. Display the filtered DataFrame.

In [69]:
spark.sql("SELECT * FROM employees WHERE Emp_Name LIKE '%o%'").show()

+------+-----------+------+---+----------+
|Emp_No|   Emp_Name|Salary|Age|Department|
+------+-----------+------+---+----------+
|   198|     Donald|  2600| 29|        IT|
|   199|    Douglas|  2600| 34|     Sales|
|   110|       John|  8200| 31| Marketing|
|   112|Jose Manuel|  7800| 34|        HR|
|   130|      Mozhe|  2800| 28| Marketing|
|   133|      Jason|  3300| 38|     Sales|
|   139|       John|  2700| 36|     Sales|
|   140|     Joshua|  2500| 29|   Finance|
+------+-----------+------+---+----------+